body{
	background-image:url(fond1.jpg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:center center;
	
	width:63%;
	
	text-align:center;
	margin-right: auto;
    margin-left: auto;
    
	}
	
section{
	background-color: rgba(0, 255, 0, 0.6);
	
	border-style : outset ;
	border-color: red;
	border-width : 5px;
	border-radius: 20px; 
	box-shadow: 10px 15px 6px black ;
	padding: 3px;
	 
}

#titre {
	color: yellow;
	
}

h2 {
	font-weight: bold;
	color: darkred ;
	text-decoration: underline;
}

#image{
	  position:relative ;
	  float:right;
	 
}

#titre{
	font-size: 500%;
	
}
footer {
	border-top : solid;
	padding: 5px;
	font-size: 70%;
}

.primaire {
	color : red;
}

.secondaire {
	color: yellow;
}

ol,ul {
	 list-style-type:none; 
}

@media (max-width: 1000px) {
    body {
        background-image:url(fond2.jpg);
		background-attachment:fixed;
    }
	
	#titre {
		font-size: 160%;
	}
	
	.cours {
		color:yellow;
	}
	
	section {
		background-color: rgba(0, 100, 255, 0.5);
	}
	
	h2 {
		color: yellow ;
	}
}

@media (max-width: 600px) {
    body {
        background-image:url(fond2.jpg);
		background-attachment:fixed;
    }
	
	#titre {
		font-size: 160%;
	}
	
	.cours {
		color:yellow;
	}
	
	section {
		background-color: rgba(0, 100, 255, 0.5);
	}
	
	h2 {
		color: yellow ;
	}
}




